* {
  box-sizing: inherit;
  -webkit-font-smoothing: auto;
  font-weight: inherit;
  text-rendering: optimizelegibility;
  -webkit-appearance: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: FTSwitch-Regular,FTSwitch,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h6 {
  margin-bottom: 8px;
}

html {
  font-size: 16px;
}

body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}